{% extends 'common/article-body.twig' %}

{##
 # Render the sharing markup and store it for use
 # in the layout, so we can replace <!--sharing-->
 # with it.
 #}
{% set sharing %}
	{% set socialLinks = {
		'facebook': 'Share on Facebook',
		'twitter': 'Share on Twitter'
	} %}
	{% include 'common.social-sharing.twig' with {
		context_class: 'story-share'
	} %}
{% endset %}


{##
 # Allow LCD to override the hero
 #}
{% block article_hero %}
	{% if story.getLinkedContent('Hero') or story.getLinkedContent('Mobile hero') %}
    {% if story.getLinkedContent('Hero') %}
		  {{ story.getLinkedContent('Hero')|replace({'<!-- share -->': sharing})|raw }}
  	{% endif %}

    {% if story.getLinkedContent('Mobile hero') %}
		  {{ story.getLinkedContent('Mobile hero')|replace({'<!-- share -->': sharing})|raw }}
  	{% endif %}

    {# Unsure why this is needed here? #}
    <script type="text/javascript" src="{{ theme_asset( '/assets/js/libs/imgix.min.js' ) }}"></script>
  	<script>
  		imgix.onready(function() {
  			imgix.fluid({
  				updateOnResizeDown: true,
  				pixelStep: 5,
  				autoInsertCSSBestPractices: true
  			});
  		});
  	</script>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}


{##
 # Scripts to go in the header.
 #
 # Overall, these should not be needed often.
 #}
{% block headerScripts %}
	{{ parent() }}

  {% if article.getLinkedContent('Header scripts') %}
  	{{ article.getLinkedContent('Header scripts')|raw }}
  {% endif %}

  {% if article.getLinkedContent('Mobile header scripts') %}
  	{{ article.getLinkedContent('Mobile header scripts')|raw }}
  {% endif %}
{% endblock %}


{##
 # Styles (that go in the header?)
 #}
{% block st_styles %}
	{{ parent() }}

  {% if article.getLinkedContent('Style libraries') %}
  	{{ article.getLinkedContent('Style libraries')|raw }}
  {% endif %}

  {% if article.getLinkedContent('Mobile style libraries') %}
  	{{ article.getLinkedContent('Mobile style libraries')|raw }}
  {% endif %}

  {# Main CSS file for project
   #
   # This gets served through the local
   # new-platform, then at static.startribune.com/... in production
   #
   # Example: news/projects/all/strib-nonprofit-100-2017/app.bundle.js
   #}
  {% if article.getLinkedContent('Styles') %}
    {% set stylesArray = article.getLinkedContent('Styles')|split(',') %}
    {% for style in stylesArray %}
      <link rel="stylesheet" href="{{ static_asset(style|trim) }}" type="text/css">
    {% endfor %}
  {% endif %}

  {% if article.getLinkedContent('Mobile styles') %}
    {% set mobileStylesArray = article.getLinkedContent('Mobile styles')|split(',') %}
    {% for style in mobileStylesArray %}
      <link rel="stylesheet" href="{{ static_asset(style|trim) }}" type="text/css">
    {% endfor %}
  {% endif %}
{% endblock %}


{##
 # Page class.  Overall, it's easier to manager
 # different styles with a class, than separate sheets.
 #}
{% block body_class %}class="wide-body page-mobile{% if article.getLinkedContent('Body class') %} {{ article.getLinkedContent('Body class')|trim }}{% endif %}{% if article.getLinkedContent('Mobile body class') %} {{ article.getLinkedContent('Mobile body class')|trim }}{% endif %}"{% endblock %}


{##
 # Main article body content.
 #}
{% block article_body %}
	{% block article_content %}
    {% if article.getLinkedContent('Content') %}
      <div class="article-lcd-body-content">
        {{ article.getLinkedContent('Content')|replace({'<!-- share -->': sharing})|raw }}
      </div><!-- end article-lcd-body-content -->
    {% endif %}

    {% if article.getLinkedContent('Mobile content') %}
      <div class="article-lcd-mobile-body-content">
        {{ article.getLinkedContent('Mobile content')|replace({'<!-- share -->': sharing})|raw }}
      </div><!-- end article-lcd-mobile-body-content -->
    {% endif %}

    {# Note if we don't seem to have any content. #}
    {% if not article.getLinkedContent('Content') and not article.getLinkedContent('Mobile content') %}
      <div class="no-lcd-content" style="margin: 0 auto; padding: 2em; font-size: 20px;">
        Can't seem to find a <strong>Content</strong> or <strong>Mobile content</strong> in the
        Linked Content Data (LCD) for this article.  Make sure there is only one LCD
        for this or any article.
      </div>
    {% endif %}
  {% endblock %}
{% endblock article_body %}


{##
 # Scripts
 #}
{% block footerScripts %}
  {##
   # Allow to add library scripts here.
   #}
  {% if article.getLinkedContent('Script libraries') %}
  	{{ article.getLinkedContent('Script libraries')|raw }}
  {% endif %}

  {% if article.getLinkedContent('Mobile script libraries') %}
  	{{ article.getLinkedContent('Mobile script libraries')|raw }}
  {% endif %}

  {##
   # Main JS file for project.  This is managed as a comma separated
   # list in the LCD.
   #
   # This gets served through the local
   # new-platform, then at static.startribune.com/... in production
   #
   # Example: news/projects/all/strib-nonprofit-100-2017/app.bundle.js
   #}
  {% if article.getLinkedContent('Scripts') %}
    {% set scriptsArray = article.getLinkedContent('Scripts')|split(',') %}
    {% for script in scriptsArray %}
      <script src="{{ static_asset(script|trim) }}"></script>
    {% endfor %}
  {% endif %}

  {% if article.getLinkedContent('Mobile scripts') %}
    {% set mobileScriptsArray = article.getLinkedContent('Mobile scripts')|split(',') %}
    {% for script in mobileScriptsArray %}
      <script src="{{ static_asset(script|trim) }}"></script>
    {% endfor %}
  {% endif %}
{% endblock %}


{##
 # Remove big footer nav
 #}
{% block footerNav %}{% endblock %}
